<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Ecole Superieur Polytechnique</a>
    <div class="d-flex">
      <a routerLink="/login"  class="form-control me-2">login</a>      
      <a routerLink="/profil-etudiant"  class="form-control me-2">etudiant</a>      
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center">Bienvenue sur notre site</h1>
      <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tellus a libero condimentum vehicula.</p>
      <h2 class="text-center mt-4">Fonctionnalités principales :</h2>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Gestion des enseignements</h5>
          <p class="card-text">Permet aux administrateurs de gérer les cours, les enseignants et les étudiants.</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Évaluation des enseignements par les étudiants</h5>
          <p class="card-text">Permet aux étudiants de remplir des formulaires d'évaluation pour évaluer les enseignements qu'ils suivent.</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Consultation des syllabus des cours</h5>
          <p class="card-text">Permet aux étudiants de consulter les descriptions de cours et les plans de cours pour chaque matière.</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Cahier de texte pour les enseignants</h5>
          <p class="card-text">Permet aux enseignants de planifier et d'organiser les activités pédagogiques pour chaque cours.</p>
        </div>
      </div>
    </div>
  </div>
</div>

